@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/segoe-ui/Segoe UI.ttf") format("ttf");
}

@keyframes slideIn {
  from {
    transform: translateY(-100%); /* Start from the left side */
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    transform: translateY(0); /* End at original position */
    opacity: 1; /* End with full opacity */
  }
}

/* Apply slide-in animation to the text */
.text-slide-in {
  animation: slideIn 0.5s ease-out; /* Use slideIn animation with 0.5s duration */
}

.chain-border {
  border-color: rgb(48, 43, 82);
}

.chain-border-2 {
  border-color: rgb(101, 59, 163);
}

.sidebar-scroll::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.sidebar-scroll::-webkit-scrollbar-thumb {
  background: #909090;
  border-radius: 10px;
}

/* Handle on hover */
.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background: #999;
}
